*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;

}
h1{
    font-size: 54px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 50px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
    font-weight: bolder;
}
h6{
    font-weight: 700;
    font-size: 12px;

}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    border-radius: 50px;
    
    
}
#mynav{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    background-color: white;
    /* background-color: #313132; */
    top: 0;
    /* z-index: 1; */
    /* padding-left: 50px; */
    
}
/* #mynav{
      background-color: rgb(221, 212, 212);
}    */

.lii{
    padding-left: 10px;
    /* margin-left: 50px; */
    /* margin-right: 80px; */
    
}
.uler li a{
    margin-left: 50px;

}

.lii:hover{
    text-decoration: underline;
    color: #313132;
    cursor: pointer;
}
/* #btni{
    border: none;
    font-size: 17px;
    font-weight: bold;
}
#btni:hover{
   background-color: #313132;
   border: #313132; 
} */

#second{
    /* background-image: url(./images/bathroom-g7683a9a62_640.png); */
    /* height: 90vh; */
    /* width: 100%; */
    /* background-repeat: no-repeat; */
    /* background-size: 50vh; */
    /* background-position: left 80% top 25%; */
    /* padding: 0 65px; */
    display: flex;  
    width: 90%;
    /* flex-wrap: wrap; */
    /* background-color: red; */
    /* justify-content: center; */
    margin: auto;
    margin-top: 70px;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* justify-content: center; */

    
}
.img{
    flex:40% ;
    /* height: 80%; */
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /* font-size: 70px; */

    /* justify-content: center;
    align-items: center; */
    flex:60% ;
    text-align: center;


}
#second h1{
    color: #088178;
}
.section1{
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fa-box img{
    height: 22vh;
    width: 100%;
    margin-bottom: 5px;
    /* width: 22vw; */
}
#feature .fa-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d8;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fa-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    
}

#feature .fa-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 3px;
    color: #088178;
    background-color: wheat;
}
#pro-1{
    text-align: center;
}

#pro-1 .pro{
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d8;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease-in-out;
    position: relative;
   
}
#pro-1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    
    
}
#pro-1 .pro img{
    width: 100%;
    border-radius: 12px;
}

#pro-1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#pro-1 .pro .des span{
    font-size: 12px;
    color: #606063;
}

#pro-1 .pro .des h5{
    padding-top: 6px ;
    color: black;
    font-size: 17px;

}

#pro-1 .pro .des .star{
    font-size: 11px;
    color: gold;
}

#pro-1 .pro .des h4{
    padding-top: 6px;
    font-size: 14px;
    font-weight: bolder;
    color: #088178;
}

#pro-1 .pro .cart{
    /* margin-left: 120px; */
    position: absolute;
    right: 10px;
    bottom: 20px;
    /* margin-bottom: 100px; */
}

#pro-1 .prod-cont{
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    flex-wrap: wrap;
}

#deal .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./images/texture-gb4b8f9493_640.jpg");
    min-width: 580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#deal h4{
   color: white;
   font-size: 35px;
   font-weight: bolder;
   font-family: 'Lobster', cursive;
}
#deal h2{
    font-size: 38px;
    font-weight: bold;
}

#deal span{
    color: white;
   font-size: 18px;
   font-weight: 400;
}
footer{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    margin-top: 60px;
    background-color: #def7eb;
}
footer .follow{
    margin-top: 10px;
    /* min-height: 50vh; */
    
}
footer .follow .icon{ 
    margin-top: 8px;
    margin-left: 8px; 
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}
.copy p{
    margin-top: 10px;
}

#service-second{
    background-image: url("./images/towels-gb9968fc03_640.jpg");
    width: 100%;
    height: 70vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    opacity: 0.8;
}

#service-second h2{
    padding-top: 15px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-style: italic;
    font-size: 40px;
}

 #service-second p{
    color: rgb(2, 0, 0);
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
 }

 #prod-details{
     display: flex;
 }
.lefts{
    width: 50%;
    margin-top: 80px;
    margin-left: 50px;
}
.right{ 
   margin-top: 100px;  
   margin-left: 25px;
}
#prod-details .right h4{
    padding: 18px 0 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#prod-details .right h6{
    font-family: 'Roboto Condensed', sans-serif;
}
#prod-details .right h3{
    margin-top: 10px;

}
#prod-details .right h2{
    font-size: 25px;
}

#prod-details .right input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prod-details .right input:focus{
    outline: none;
}

#service-second.cus-header{
    background-image: url("./images/customer.png");
    opacity: 0.8;
    
   
}
#service-second.cus-header h2{
    color: black;
   font-family: 'Lobster', cursive;
   font-weight: 900;
    margin-right: 400px;
    margin-top: 60px;
}
#service-second.cus-header p{
    color: #000000;
    margin-right: 50px;
    font-weight: bolder;
}

#blog{
    padding: 100px 100px 0 100px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 80px;
}
#blog .blog-img{
    width: 50%;
    
}
#blog .blog-det{
    width: 50%;
    /* margin-right: 150px; */
    margin-left: 80px;
    margin-top: 14px;

}
#blog .blog-img img{
    margin-left: 20px;
    width: 100%;  
    height: 250px;
    object-fit: cover;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 45px;
    font-weight: bolder;
    color: #c9cbce;
    z-index: -9;

}

#service-second.con-header{
    background-image: url("./images/pexels-chepté-cormani-1416530.jpg");
    opacity: 0.9;   
}

#service-second.con-header h2{
    color: white;
    font-family: 'Spline Sans Mono', monospace;
}

#service-second.con-header p{
    color: white;
    /* font-size: 100px; */
    font-family: 'Spline Sans Mono', monospace;
}


#contact-det{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-det .details{
    width: 40%;
} 

#contact-det .details span{
    font-size: 14px;
}

#contact-det .details h2{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-det .details h3{
    font-size: 15px;
    padding-bottom: 15px;
}

#contact-det .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

/* /* #contact-det .details li svg{
    /* font-size: 15px; */
    /* padding-right: 22px; */
/* } */

#contact-det .details li p{
    font-size: 14px;
    margin: 0;
}
#contact-det .map{
    width: 55%;
    height: 400px;
}

#contact-det .map iframe{
    width: 100%;
    height: 100%;
}

#frm-data form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frm-data form h2{
    /* font-size: 16px; */
    color: #606063;
    font-weight: bold;
    font-family: 'Spline Sans Mono', monospace;
}

#frm-data form input{
    width: 70%;
    padding: 10px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #606063;
    border-radius: 15px;
}

#frm-data form textarea{
    width: 70%;
    padding: 10px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #606063;
    border-radius: 15px;
}

#frm-data{
    border: 1px solid #e1e1e1;
    padding: 40px;

}
#cart{
   border-collapse: collapse;
   table-layout: fixed;
   white-space: nowrap;
   overflow-x: auto;
}
#cart table img{
   width: 100px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width:250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(4) input{
     width: 70px;
     padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
     font-weight: bolder;
     text-transform: uppercase;
     font-size: 13px;
     padding: 18px 10px;

}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}
/* #frm-data form .butn{
    display: flex;
    align-items: flex-start;
    
} */

#adcart{
    display: flex;
    align-items: center;
    justify-content:center ;
}

#sub-tot {
    width: 100%;
    margin-bottom: 30px;
    border:1px solid #e2e9e1 ;
    padding: 30px;
    text-align: start; 
    /* padding-left: 500px; */

}
#sub-tot table{
    border-collapse: collapse;

    width: 100%;
    margin-bottom: 20px;

}

#sub-tot table td{
    width: 80%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 15px;
}

/* #sub-tot table{
    text-align: center;
} */

/* Media Query */
@media(max-width:799px){
    /* .section1{
        padding: 30px 30px;
    } */
    #second{
        height: 60vh;
        background-position: top 40% left 90%;
        padding: 0 15px; 
    }
    #feature{
        
        justify-content: center;
        
    }

    #feature .fa-box{
        margin: 25px 25px;
    }
    #pro-1 .prod-cont {  
        justify-content: center;  
    }
    #pro-1 .pro{  
        margin: 15px;
    }  
}
@media (max-width:877px) {
    #second{
        flex-direction: column;
    }
    .img{
        /* width: 300px; */
        display: none;
    }
    .text{
        text-align: center;
        width: 100%;
    }
}

@media(max-width: 477px){
    .section1{
        padding: 15px;
    }
    #second{
        height: 90vh;
        /* width: ; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        /* background-position: 55%; */
        padding-bottom: 500px;
         padding: 0 5px;
    } 
    #second h1{
        margin-top: 500px;
        font-size: 20px;
    }
    #second h3{
        font-size: 30px;
        color: #088178;
    }

    #feature .fa-box{
        margin:0 0 20px 0;
        width: 155px;
    }

    #feature{  
        justify-content: space-between;
    }

    #pro-1 .pro{  
       width: 100%;
    }

    #deal .banner{
        min-width: 100%;
        height: 40vh;
       
    }

    footer .follow{
        margin-top: 10px;

        text-align: start;
        /* min-height: 50vh; */
        
    }
    footer .col .add{
       /* margin-left: 55px; */
       text-align: center;
    }

    #prod-details{
        display: flex;
        flex-direction: column;
    }
    #prod-details .lefts{
        width: 70%;
        margin-top: 80px;
        /* margin-left: 50px; */
    }

    #prod-details .right{ 
        width: 80%;
        /* margin-top: 100px;   */
        margin-left: 53px;
        margin-bottom: 10px;
     }
    
    /* #deal{
        height: 40vh;
        width: 100px;
    } */

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog{
        padding: 90px 0 0 0px;
    }
    #blog .blog-img{
        width: 90%;
        margin-bottom: 30px;
       
        
    }
    #service-second{
        /* height: 80vh; */
        background-position: 40%;
        padding: 0 5px;
        width: 100%;
        height: 40vh;
    }

    #blog .blog-det{
        width: 90%;
        /* margin-right: 150px; */
        margin-left: 10px;
        margin-top: 14px;
    
    }

    #service-second.cus-header h2{
        
        margin-right: 0px;
        margin-top: 60px;
        /* text-align: start; */
    }
    #service-second.cus-header p{
        /* color: #000000; */
        margin-right: 0px;
        margin-left: 55px;
        /* font-weight: bolder; */
    }

    #contact-det{
        flex-direction: column;
    }

    #contact-det .details{
        width: 100%;
        margin-bottom: 25px;
    }

    
    #contact-det .map{
        width: 100%;
        
    }

    #service-second.con-header p{
        padding-top:70px;
        margin-left: 15px;
    }
    #service-second.con-header h2{
        padding-top:25px;
        /* margin-left: 15px; */
    }
}
.carto{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #c9cbce;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%); 
    z-index: 1;
    margin-top: 50px;
    transition: 0.3s;
}
.carto.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* z-index: 1; */
    margin-top: 15px;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    /* margin-top: 15px; */
}

.cart-img{
    width: 120px;
    height: 120px;
    padding: 10px 10px 10px 0px;   
    object-fit: contain;
}
.detail-box{
    display: grid;
    /* flex-direction: column; */
    row-gap: 0.5rem;
}

.card-product-title{
    font-size: 1rem;
    text-transform: uppercase; 
}

.cart-price{
    font-weight: bolder;
}
.cart-quantity{
    /* border: 1px solid black; */
    outline:none ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid rgb(0, 0, 0);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;   
}
.total-price{
    margin-left: 0.5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border:none ;
    background-color: #088178;
    color: #c9cbce;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.btn-buy:hover{
    background-color: #04746c;
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
} 
/* .dart{
    width: 90%;
    text-align: center;
    margin:  25px auto;
    /* background-color: black; */
    /* border: 1px solid black; */
    /* height: 50vh; */
/* } */
/* .dartImg{ */
    /* width: 100px; */
    /* background-color: ; */
    /* border: 1px solid black; */
/* } */